@import 'styles/_globals.scss';

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  widows: 100%;
  
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $bg-primary-color;
  }
}