.plugins-page-container {
  background-color: rgb(246, 246, 246);
  header {
    h2 {
      color: #883996;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0;
    }
    p {
      font-size: 1.25rem;
      font-style: italic;
      font-family: sans-serif;
      margin: 0;
    }

    hr {
      width: 100px;
      border: none;
      margin-top: 30px;
      border-top: 1px solid #883996;
    }
  }

  .plugin-container {
    .plugin {
      width: 200px;
      background-color: #FFF;
      padding: 10px;

      img {
        width: 100%;
        height: auto;
      }
      hr {
        width: 80%;
        margin: 10px auto;
        border: 0;
        border-top: 1px solid #cccccc;
      }

      .category-container {
        display: flex;
        justify-content: center;
        .category {
          padding: 5px;
          background-color: #883996;
          color: #FFF;
          text-decoration: none;
          font-size: .8em;
          display: inline-block;
          margin: 5px;
          border-radius: 5px;
        }
      }

      .info-container {
        display: flex;
        flex-flow: column nowrap;
        .info {
          text-decoration: none;
          color: #444444;
          &.brand {
            color: #883996;
          }
        }
      }
    }
  }
}