@import 'styles/_globals.scss';

.app-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  .main-container {
    display: flex;
    justify-content: center;
    background-color: $bg-text-primary-color;
    width: 100%;
    padding: 15px 10px;
    overflow-x: auto;
  }
}